
@media only screen and (min-width: 768px) {
    body {
      padding: 0;
      margin: 0;
    }
  
    /* The navigation selector */
  
    /* all the display none for desktop */
    nav > :nth-child(2) {
      display: none;
    }
  
    #headline > h2 {
      padding-left: 4.5rem;
    }
  
    #contact > h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: 0;
      text-align: left;
      height: auto;
      width: 28rem;
      margin-left: -9rem;
      padding: 2rem;
    }
  
    #about > h2 {
      position: relative;
      left: -33rem;
    }
  
    #work > .first-box > .headtext > h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      width: auto;
      font-size: 2.2rem;
      font-family: 'Crete Round', serif;
      font-weight: 500;
      justify-items: center;
      padding: 5rem 0 5rem 0;
      border: none;
    }
  
    div.first-box {
      display: block;
      min-width: 100%;
    }
  
    #work > .first-box > .headtext > h2 > div {
      margin-left: 1rem;
      width: 39rem;
    }
  
    nav > :nth-child(3) {
      display: flex;
    }
  
    .imgsection > :nth-child(2) {
      display: flex;
      min-width: 37.5em;
      height: 26rem;
    }
  
    .imgsection > :nth-child(1) {
      display: none;
    }
  
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: auto;
      padding: 1rem 6rem 1rem 6rem;
      background: var(--navcolor);
    }
  
    nav > ul > li {
      list-style-type: none;
    }
  
    nav > ul > li > a {
      list-style-type: none;
      text-decoration: none;
      color: var(--txtcolor);
      font-family: 'Inter', sans-serif;
      font-size: 1rem;
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0;
      text-align: center;
      padding-left: 2rem;
    }
  
    .carttt {
      padding: 0;
      margin: 0;
      display: none;
    }
  
    #headline {
      justify-content: center;
      background-image: url(Resources/Images/Illustration-header.png);
      background-position: top right;
      background-size: 30rem;
      height: 35rem;
      padding-left: 1rem;
    }
  
    .imgsection > p {
      max-width: 22rem;
    }
  
    #headline > p {
      color: var(--txtcolor);
      padding-top: 1rem;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 1rem;
      line-height: 24px;
      width: 34em;
      flex-grow: 0;
      margin: 0 0;
      padding-left: 4.5rem;
    }
  
    #headline > ul {
      position: relative;
      float: left;
      top: -14rem;
      gap: 0.8rem;
      flex-direction: column;
    }
  
    .headtext {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0%;
      padding: 0%;
    }
  
    .line5 {
      height: 0.1em;
      background: #1c1a19;
      width: 42rem;
      margin-left: 2rem;
    }
  
    .imgsection {
      display: flex;
      margin: 0%;
      padding-left: 4.5rem;
      width: auto;
      height: auto;
    }
  
    .ttwork {
      padding: 0%;
      margin-left: 4%;
    }
  
    #work > .cartt2 > #c1 {
      display: flexbox;
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-top: 2.5rem;
      height: 20rem;
      width: 19.5rem;
      left: 0;
      top: 0;
      border: none;
      border-radius: 0;
      background-image: url(Resources/Images/Mask-Group.png);
      background-position: center center;
      background-repeat: no-repeat;
      color: var(--txtcolor);
    }
  
    #work > .cartt2 > #c2 {
      display: flexbox;
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-top: 2.5rem;
      height: 20rem;
      width: 19.5rem;
      left: 0;
      top: 0;
      border: none;
      border-radius: 0;
      background-image: url(Resources/Images/Mask-Group1.png);
      background-position: center center;
      background-repeat: no-repeat;
      color: var(--txtcolor);
    }
  
    #work > .cartt2 > #c3 {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-top: 2.5rem;
      height: 20rem;
      width: 19.5rem;
      left: 0;
      top: 0;
      border: none;
      border-radius: 0;
      background-image: url(Resources/Images/Mask-Group2.png);
      background-position: center center;
      background-repeat: no-repeat;
      color: var(--txtcolor);
    }
  
    #work > .cartt2 > #c4 {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-top: 2.5rem;
      height: 20rem;
      width: 19.5rem;
      left: 0;
      top: 0;
      border: none;
      border-radius: 0;
      background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url(Resources/Images/Mask-Group.png);
      background-position: center center;
      background-repeat: no-repeat;
      color: var(--txtcolor);
    }
  
    #work > .cartt2 > #c5 {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-top: 2.5rem;
      height: 20rem;
      width: 19.5rem;
      left: 0;
      top: 0;
      border: none;
      border-radius: 0;
      background: url(Resources/Images/Mask-Group1.png);
      background-position: center center;
      background-repeat: no-repeat;
      color: var(--txtcolor);
    }
  
    #work > .cartt2 > .cart > h2 {
      padding: 2.3rem 1rem;
      font-weight: 500;
      font-family: 'Crete Round', serif;
      font-size: 32px;
      line-height: 40px;
    }
  
    #work > .cartt2 > #c6 {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      margin-bottom: 1rem;
      padding-top: 2.5rem;
      height: 20rem;
      width: 19.5rem;
      left: 0;
      top: 0;
      border: none;
      border-radius: 0;
      background-image: url(Resources/Images/Mask-Group2.png);
      background-position: center center;
      background-repeat: no-repeat;
      padding-bottom: 0%;
      color: var(--txtcolor);
    }
  
    #about > button {
      position: relative;
      left: -35%;
    }
  
    #work .cartt2 > .cart > button {
      height: 3rem;
      margin-top: 1rem;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
      width: 19.5rem;
      border-radius: 0%;
      border: none;
      font-family: 'Inter', sans-serif;
      font-size: 17px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0.03em;
      text-align: center;
      color: var(--txtcolor);
      background-color: var(--maincolor);
    }
  
    #work > .cartt2 > #c1 > button {
      margin-top: 17.1rem;
    }
  
    #work > .cartt2 > #c1 > button:hover {
      background: var(--btncol2);
      border: 1px solid var(--maincolor);
      color: var(--maincolor);
    }
  
    #work > .cartt2 > #c3 > h2 {
      padding: 3.5rem 1rem;
    }
  
    #work > .cartt2 > #c6 > h2 {
      padding: 3.5rem 1rem;
    }
  
    #work > .cartt2 > .cart > h1 > span {
      display: block;
    }
  
    #about > p {
      position: relative;
      left: -25.52%;
      width: 30rem;
    }
  
    #work > .cartt2 > .cart > p {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      padding: 0 1rem;
      letter-spacing: 0;
      text-align: left;
    }
  
    #about > .listing > ul {
      display: block;
      flex-direction: column;
      margin: 5rem 10rem;
      font-size: larger;
    }
  
    #work > .first-box > .imgsection > .ttwork > p {
      width: 100%;
    }
  
    #work > .cartt2 > .cart > ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      padding: 0 1rem;
    }
  
    #work > .cartt2 > .cart > ul > li {
      display: flex;
      font-family: 'Inter', sans-serif;
      justify-content: center;
      align-items: center;
      width: auto;
      height: 2rem;
      padding: 0.5rem 1rem;
      margin: 0.5rem 0.5rem 0.5rem 0;
      background-color: var(--colorb);
    }
  
    .cartt2 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      justify-content: center;
      align-items: center;
      column-gap: 2.5rem;
      padding: 0%;
    }
  
    #work {
      width: auto;
      place-items: center;
    }
  
    #about {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url(Resources/Images/illustration-aboutme.png);
      background-repeat: no-repeat;
      background-size: 30rem;
      background-position: 20em right;
      background-position-y: 14ch;
    }
  
    #about > .line {
      background: var(--backc);
      border: none;
      height: 2px;
      width: 73.2rem;
      margin: 31rem 1rem 5rem 0;
    }
  
    .listing {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 80%;
      margin-top: 4rem;
    }
  
    #contact {
      flex-direction: row;
      padding-left: 2rem;
    }
  
    form#f1 {
      display: none;
    }
  
    form#f2 {
      display: flex;
      width: 37rem;
    }
  
    form#f2 input[type="text"] {
      width: 17em;
    }
  
    form#f2 input[type="email"] {
      width: 34rem;
    }
  
    form#f2 input[type="submit"] {
      margin-left: -27rem;
    }
  
    form#f2 textarea {
      background: #fbf8f7;
      width: 100%;
    }
  }
  