/* General selections */
* {
  margin: 0;
  padding: 0;
}

:root {
  --navcolor: #3c3a39;
  --txtcolor: #fff;
  --txtcolor2: #172b4d;
  --maincolor: #ff6b00;
  --bkcolor: #1c1a19;
  --line: #212121;
  --colorb: #ffffff3d;
  --backc: #fbf8f7;
  --btncol: #f4f1f0;
  --btncol2: #fff5e1;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* The navigation selector */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 1.8rem 2rem 1rem 2rem;
  background: var(--navcolor);
}

nav > a {
  text-decoration: none;
  color: var(--txtcolor);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

/* headline selector */
#headline {
  display: flex;
  flex-direction: column;
  height: 30rem;
  background: var(--bkcolor);
  padding: 6rem 2rem 2rem 2rem;
  background-image: url(Resources/Images/illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position: right 17rem;
  background-size: 6.3rem;
}

#headline > #mainhead {
  color: var(--maincolor);
  font-family: 'Crete Round', serif;
  font-weight: 400;
  line-height: 3.5rem;
  font-size: 3rem;
  margin-top: 0.5rem;
}

#mainhead > span {
  display: block;
}

#headline > h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--txtcolor);
  padding-top: 1rem;
}

#headline > p {
  color: var(--txtcolor);
  padding-top: 1rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 20rem;
  flex-grow: 0;
  margin: 0 0;
}

.footericon > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
}

#headline > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10rem;
  padding-top: 2rem;
  padding-bottom: 3.5rem;
  padding-left: 0.5rem;
}

#headline > ul > li {
  align-items: center;
}

/* work selector */
#work {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: row;
  height: auto;
  background: var(--txtcolor);
  color: var(--txtcolor2);
}

#about > h2 {
  font-family: 'Crete Round', serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: var(--maincolor);
}

#contact > h2 {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
  padding-top: 4rem;
  width: 21.6rem;
  left: 0;
  top: 0;
  color: var(--txtcolor2);
}

.headtext {
  margin: 0;
  padding: 0;
  border: none;
}

#work > .first-box > .headtext > h2 { 
  font-size: 2.2rem;
  font-family: 'Crete Round', serif;
  font-weight: 500;
  justify-items: center;
  padding: 5rem 1rem 2rem 0;
  border-bottom: 1.5px solid var(--line);
  width: 18rem ;
}

.ttwork {
  padding: 0%;
  margin: 0%;
}

.carttt {
  justify-self: center;
  padding: 0;
  margin: 0;
  width: auto;
}
div.first-box{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 0px;
  width:22rem;
  margin-left: 0%;
  margin-bottom: 2rem;
}
div.imgsection{
  padding: 0px;
  margin: 0px;
  width: 87%;
}
#work-images{
  padding-top: 3rem;
  position: relative;
  max-width: 19.1rem;
}

#work > .first-box > .imgsection:nth-child() {
  display: flex;
  padding-bottom: 2rem;
  padding-right: 2rem;
  justify-content: center;
}

#about > .listing > ul > li > h3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
}

.listing {
  border-top: 2px solid var(--txtcolor);
  margin-top: 11rem;
  padding-top: 8rem;
}

#about > .listing > ul > li > a {
  text-decoration: none;
  color: var(--txtcolor);
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
}

#work > .first-box > .imgsection > .ttwork > h3 {
  font-family: 'Crete Round', serif;
  font-weight: 300;
  font-size: 2rem;
}

#about > p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

#work > .carttt > .cart > p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0 1rem;
  letter-spacing: 0;
  text-align: left;
}

#work > .first-box > .imgsection > .ttwork > p {
  font-family: 'Inter', sans-serif;
  padding-top: 0.5rem;
  margin-right: 1.98rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 20rem;
  font-size: 1rem;
  letter-spacing: 0;
  text-align: left;
  flex: none;
  font-style: normal;
  flex-grow: 0;
}

#about > .listing > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  line-height: 3rem;
  margin-bottom: 3rem;
}

#work > .carttt > .cart > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}

#work > .first-box > .imgsection > .ttwork > ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}

#work > .carttt > .cart > ul > li {
  display: flex;
  font-family: 'Inter', sans-serif;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 0.5rem 0rem;
  background-color: var(--colorb);
}

#work > .first-box > .imgsection > .ttwork > ul > li {
  font-family: 'Inter', sans-serif;
  border: 1px solid var(--line);
  padding: 0.5rem;
  margin-right: 0.5rem;
}

#about > button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 1rem;
  width: 9.2rem;
  height: 2rem;
  background: var(--maincolor);
  color: var(--txtcolor);
  border: none;
}
#about > button:hover {
  background: var(--btncol2);
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
}
#work .carttt > .cart > button {
  height: 3rem;
  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  width: 19.5rem;
  border-radius: 0%;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--txtcolor);
  background-color: var(--maincolor);
}
#work .carttt > .cart > button:hover {
  background: var(--btncol2);
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
}
#work > .first-box > .imgsection > .ttwork > button {
  background: var(--maincolor);
  border: none;
  width: 7rem;
  padding: 0.5rem;
  font-family: 'Inter', sans-serif;
  color: var(--txtcolor);
  font-weight: 400;
  font-size: 1rem;
}
#work > .first-box > .imgsection > .ttwork > button:hover {
  background: var(--btncol2);
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
}

/* work carts selector */
#work > .carttt > .cart {
  display: flexbox;
  flex-direction: column;
  margin-bottom: 2rem;
  padding-top: 2.5rem;
  height: 20rem;
  width: 19.5rem;
  left: 0;
  top: 0;
  border: none;
  border-radius: 0;
  background: linear-gradient(179.35deg, rgba(38, 38, 38, 0) 0.85%, rgba(38, 38, 38, 0.9) 84%), url(Resources/Images/Mask-Group.png);
  background-position: center center;
  background-repeat: no-repeat;
  color: var(--txtcolor);
}

#work > .carttt > .cart > h2 {
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 40px;
}

#work > .carttt > .cart > h1 > span {
  display: block;
}

/* about selector */
#about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10rem 2rem 6rem 2rem;
  background: var(--bkcolor);
  color: var(--txtcolor);
  background-image: url(Resources/Images/Frame.png);
  background-repeat: no-repeat;
  background-position: right 20rem;
}

#about > .line {
  background: var(--backc);
  border: none;
  height: 2px;
  width: 20.2rem;
  margin: 13rem 0 9rem 0;
}

.aboutlist {
  padding-left: 0.7rem;
}

/* contact selector */
#contact {
  background: var(--txtcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0rem;
}

#contact form {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  width: 21.6rem;
}

input[type="text"],
input[type="email"] {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #ff6b00;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 1rem;
  width: 17.2rem;
  margin-top: .4rem;
}

.footericon {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  margin-top: 4rem;
  margin-bottom: 0;
  border: 2px solid var(--navcolor);
  border: none;
  border-top: 1px solid var(--navcolor);
}

textarea {
  border: none;
  width: 19.2rem;
  height: 7rem;
  background: var(--txtcolor);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  font-weight: 400;
  color: var(--bkcolor);
  padding-top: 1.5rem;
  margin-top: .4rem;
}

form > input[type="submit"] {
  margin-top: 2rem;
  border: none;
  background: var(--maincolor);
  color: var(--txtcolor);
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  height: 3rem;
  width: 10rem;
}

#contact > form > input[type="submit"]:hover {
  background: var(--btncol2);
  border: 1px solid var(--maincolor);
  color: var(--maincolor);
}

.line1 {
  width: 6rem;
  height: 3px;
  border: none;
  border-radius: 10px;
  padding-bottom: 0;
  background: var(--line);
}

/* all the display none for mobile */
nav > :nth-child(3) {
  display: none;
}

.imgsection > :nth-child(2) {
  display: none;
}

.cartt2 {
  display: none;
}

form#f2 {
  display: none;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0;
    margin: 0;
  }

  /* The navigation selector */

  /* all the display none for desktop */
  nav > :nth-child(2) {
    display: none;
  }

  #headline > h2 {
    padding-left: 4.5rem;
  }

  #about > h2 {
    padding-left: 4.5rem;
  }

  #contact > h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    height: auto;
    width: 28rem;
    margin-left: -9rem;
    padding: 2rem;
  }

  #work > .first-box > .headtext > h2 {
    border: none;
    padding-left: 4.5rem;
  }

  nav > :nth-child(3) {
    display: flex;
  }

  .imgsection > :nth-child(2) {
    display: flex;
    min-width: 37.5em;
    height: 26rem;
  }

  .imgsection > :nth-child(1) {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 1.8rem 6rem 1rem 6rem;
    background: var(--navcolor);
  }

  nav > ul > li {
    list-style-type: none;
  }

  nav > ul > li > a {
    list-style-type: none;
    text-decoration: none;
    color: var(--txtcolor);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    padding-left: 2rem;
  }

  .carttt {
    padding: 0;
    margin: 0;
    display: none;
  }

  #headline {
    background-image: url(Resources/Images/Illustration-header.png);
    background-position: top right;
    background-size: 30rem;
    height: 30rem;
    padding-left: 1rem;
  }

  .imgsection > p {
    max-width: 22rem;
  }

  #headline > p {
    color: var(--txtcolor);
    padding-top: 1rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 24px;
    width: 34em;
    flex-grow: 0px;
    margin: 0px 0px;
    padding-left: 4.5rem;
  }

  #headline > ul {
    position: relative;
    float: left;
    top: -14rem;
    gap: 0.8rem;
    flex-direction: column;
  }

  .headtext {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }

  .line5 {
    height: 0.1em;
    background: #1c1a19;
    width: 42rem;
    margin-left: -2rem;
  }

  .imgsection {
    display: flex;
    margin: 0%;
    padding-left: 4.5rem;
    width: auto;
    height: auto;
  }

  .ttwork {
    padding: 0%;
    margin-left: 4%;
  }

  #work > .cartt2 > #c1 {
    display: flexbox;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 2.5rem;
    height: 20rem;
    width: 19.5rem;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    background-image: url(Resources/Images/Mask-Group.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--txtcolor);
  }

  #work > .cartt2 > #c2 {
    display: flexbox;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 2.5rem;
    height: 20rem;
    width: 19.5rem;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    background-image: url(Resources/Images/Mask-Group1.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--txtcolor);
  }

  #work > .cartt2 > #c3 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 2.5rem;
    height: 20rem;
    width: 19.5rem;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    background-image: url(Resources/Images/Mask-Group2.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--txtcolor);
  }

  #work > .cartt2 > #c4 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 2.5rem;
    height: 20rem;
    width: 19.5rem;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 84.18%), url(Resources/Images/Mask-Group.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--txtcolor);
  }

  #work > .cartt2 > #c5 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 2.5rem;
    height: 20rem;
    width: 19.5rem;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    background: url(Resources/Images/Mask-Group1.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: var(--txtcolor);
  }

  #work > .cartt2 > .cart > h2 {
    padding: 2.3rem 1rem;
    font-weight: 500;
    font-family: 'Crete Round', serif;
    font-size: 32px;
    line-height: 40px;
  }

  #work > .cartt2 > #c6 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-top: 2.5rem;
    height: 20rem;
    width: 19.5rem;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    background-image: url(Resources/Images/Mask-Group2.png);
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 0%;
    color: var(--txtcolor);
  }

  #about > button {
    margin-left: 4.5rem;
  }

  #work .cartt2 > .cart > button {
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 19.5rem;
    border-radius: 0%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--txtcolor);
    background-color: var(--maincolor);
  }

  #work > .cartt2 > #c1 > button {
    margin-top: 17rem;
  }

  #work > .cartt2 > #c3 > h2 {
    padding: 3.5rem 1rem;
  }

  #work > .cartt2 > #c6 > h2 {
    padding: 3.5rem 1rem;
  }

  #work > .cartt2 > .cart > h1 > span {
    display: block;
  }

  #about > p {
    width: 30rem;
    margin-left: 4.5rem;
  }

  #work > .cartt2 > .cart > p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 1rem;
    letter-spacing: 0;
    text-align: left;
  }

  #about > .listing > ul {
    display: block;
    flex-direction: column;
    margin: 5rem 10rem;
    font-size: larger;
  }

  #work > .cartt2 > .cart > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
  }

  #work > .cartt2 > .cart > ul > li {
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 2rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    background-color: var(--colorb);
  }

  .cartt2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2.5rem;
    row-gap: 0.5rem;
    padding: 0%;
    margin-left: -6%;
  }

  #work {
    width: auto;
    place-items: center;
  }

  #about {
    background-image: url(Resources/Images/illustration-aboutme.png);
    background-repeat: no-repeat;
    background-size: 30rem;
    background-position: 20em right;
    background-position-y: 14ch;
  }

  #about > .line {
    background: var(--backc);
    border: none;
    height: 2px;
    width: 73.2rem;
    margin: 31rem 1rem 5rem 0;
  }

  .listing {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: -7rem;
  }

  #contact {
    flex-direction: row;
  }

  form#f1 {
    display: none;
  }

  form#f2 {
    display: flex;
    width: 37rem;
  }

  form#f2 input[type="text"] {
    width: 17em;
  }

  form#f2 input[type="email"] {
    width: 34rem;
  }

  form#f2 input[type="submit"] {
    margin-left: -0.1rem;
  }

  form#f2 textarea {
    background: #fbf8f7;
  }
}
