/*General selections*/
* {
  margin: 0;
  padding: 0;
}
:root{
  --navcolor:#3C3A39;
  --txtcolor:#FFF;
  --txtcolor2:#172B4D;
  --maincolor:#FF6B00;
  --bkcolor: #1C1A19;
  --line:#212121;
  --colorb: #FFFFFF3D;
}
body{
  display:flex;
  flex-direction:column;
  justify-content: center;
}
/*The navigation selector*/
nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 1.8rem 1rem 1.8rem;
  background: var(--navcolor);
}
nav> a{
  text-decoration: none;
  color: var(--txtcolor);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  align: center;
  font-weight: 700;
}
/*headline selector*/
#headline{
  display:flex;
  flex-direction: column;
  height: auto;
  background: var(--bkcolor);
  padding: 6rem 2rem 2rem 2rem;
  background-image: url(Resources/Images/illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position: right 19rem;
  background-size: 7rem;
}
#headline> h1{
  color: var(--maincolor);
  font-family: 'Crete Round', serif;
  font-weight: 400;
  line-height: 3.5rem;
  font-size: 3rem;
  margin-top: 4rem;
}
#headline> h1 >span{
  display:block;
}
#headline> h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--txtcolor);
  padding-top: 1rem;
}
#headline> p{
  color: var(--txtcolor);
  padding-top:1rem;
  font-family:'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 20rem;
  flex-grow: 0;
  margin: 0rem 0rem;
}
#headline> ul{
  list-style-type: none;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  width: 10rem;
  padding-top: 2rem;
  padding-bottom: 3.5rem;
  padding-left: .5rem;

}
#headline >ul >li{
  align-items: center;
}

/*work selector*/
#work{
  display:flex;
  flex-direction:column;
  justify-content:center;
  height: auto;
  background: var(--txtcolor);
  color: var(--txtcolor2);
  padding:0rem 2rem 3rem 2rem;
}
#work> h1{
  margin: 5rem 0rem;
  font-size: 2.3rem;
  font-family: 'Crete Round', serif;
  font-weight: 500;
  justify-items: center;
  padding: 2rem 1rem 2rem 0rem;
  border-bottom: 1.5px solid var(--line);
}
#work> img{
  padding-bottom: 2rem;
}
#work> h2{
  font-family: 'Crete Round', serif;
  font-weight: 300;
  font-size: 2rem;
}
#work> p{
  font-family: 'Inter', sans-serif;
  padding-top: .5rem;
  font-weight: 400;
  line-height: 1.5rem;
  max-width: 20rem;
  font-size: 1rem;
  letter-spacing: 0em;
  text-align: left;
  flex: none;
  font-style: normal;
  flex-grow: 0;
}
#work>ul{
  list-style-type: none;
  display:flex;
  flex-direction:row;
  padding: 1rem 0rem;
}
#work> ul> li{
  font-family: 'Inter', sans-serif;
  border:1px solid var(--line);
  padding: .5rem;
  margin-right: .5rem;
}
#work> button{
  background: var(--maincolor);
  border:none;
  width: 7rem;
  padding: .5rem;
  font-family: 'Inter', sans-serif;
  color: var(--txtcolor);
  font-weight: 400;
  font-size: 1rem;
}
/*work carts selector*/
#work> .cart{
  display:grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  margin-top: 2rem;
  padding-top: 7rem;
  height: 18.8rem;
  width: 19.5rem;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  border:none;
  background: url(Resources/Images/Img-Placeholder.png);
  color: var(--txtcolor);
}
#work> .cart> h1{
  padding: .5rem 1rem;
  font-weight: 500;
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 40px;


}
#work> .cart > h1> span{
  display: block;
}
#work> .cart> p{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding:0rem 1rem;
  letter-spacing: 0em;
  text-align: left;
}
#work> .cart> ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding:0rem 1rem;
}
#work> .cart> ul> li{
  display:flex;
  font-family: 'Inter', sans-serif;
  justify-content:center;
  align-items: center;
  width: auto;
  height: 2rem;
  padding: 0rem 1rem;
  margin: .5rem .5rem .5rem 0rem;
  background-color: var(--colorb);
}
#work .cart> button{
  height: 3rem;
  margin:0rem;
  width:auto;
  border-radius:0%;
  border: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color:var(--txtcolor);
  background-color: var(--maincolor);
}
/*about selector*/
#about{
  margin-top: 3rem;
  display:flex;
  justify-content:center;
  flex-direction: column;
  padding: 6rem 2rem;
  background: var(--bkcolor);
  color: var(--txtcolor);
  background-image: url(Resources/Images/Frame.png);
  background-repeat: no-repeat;
  background-position: right 20rem;
}
#about> h1{
  font-family: 'Crete Round', serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: var(--maincolor);
}
#about> p{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
#about> button{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 1rem;
  width: 9.2rem;
  height: 2rem;
  background: var(--maincolor);
  color: var(--txtcolor);
  border:none;
}
#about> .line{
  background: var(--line);
  border: 1px solid var(--txtcolor);
  width: 19.2rem;
  margin: 13rem 0rem 9rem 0rem;
}
#about> ul{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  list-style-type:none;
  font-family: 'Inter', sans-serif;
  line-height: 3rem;
}
.aboutlist{
  padding-left: .7rem;
}
#about> ul> li> h3{
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;

}
#about> ul> li>a{
  text-decoration: none;
  color: var(--txtcolor);
  font-size: 22px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
}
